*
{
  padding:  0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-image: url(background.jpg);
  background-size:cover;
  background-position: center;
  box-sizing: border-box;
}

.submenu{
  background-color: lightBlue;
  text-align: center;
}

.submenu ul{
  display: inline-flex;
  list-style: none;
  color: white;
}

.submenu ul li{
  width: 120px;
  padding: 15px;
  margin: 15px;

}

.courseSubmenu ul, .browerSubMenu ul{
display: none;

}

.submenu ul li a{
  text-decoration: none;
  color:white;
}
.submenu ul li:hover .courseSubmenu ul{
  display: block;
  position: absolute;
  margin: 10px;
  background-color: lightBlue;
  border-radius: 10px;
  margin-top: 15px;
  text-align: left;
}
.submenu ul li:hover .browerSubMenu ul{
  display: block;
  position: absolute;
  margin: 10px;
  background-color: lightBlue;
  border-radius: 10px;
  margin-top: 15px;
  text-align: left;
}
.submenu ul li a:hover {
  color:green;
}

.courseSubmenu ul li {
  margin-top: 12px;
  padding: 0px;
}

.browerSubMenu ul li{
  margin-top: 12px;
  padding: 0px;
}
.courseSubmenu ul li:hover{
  color: green;
}
.searchbox button{
   width:80px;
   height: 25px;
   color:white;
   background-color: lightgrey;
   margin-top: 25px;
   border-radius: 10px;
}
.searchbox input{
  width: 100px;
  height: 25px;
}
.searchbox{
  margin-right: 40px;
  float: right;
  border-radius: 10px;
}
